

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", sans-serif !important;
}

body, div, p {
  font-family: "Courier New", sans-serif !important;
}



        h1, h2, h3, h4, h5, h6 {
          font-family: Courier New, Inter, system-ui, sans-serif;
        }
        body {
          font-family: Courier New, Inter, system-ui, sans-serif;
        }
      